<div class="row">
  <!-- CATEGORIES -->
  <div class="col-3">
    <app-product-filter [category]="category"></app-product-filter>
  </div>

  <!-- PRODUCTS -->
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let product of filteredProducts; let n = index">
        <div class="col">
          <app-product-card [product]="product" [shoppingCart]="cart"></app-product-card>
        </div>
        <div *ngIf="(n + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
 